node_modules
.DS_Store

# Test reports and results
reports/**/*
test-results/**/*
playwright-report/**/*

# Cucumber specific reports
cucumber_report.json
cucumber_report_compatible.json
**/cucumber-report/**
**/cucumber-report.html

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
